
body {
    border: solid 10px;
    min-width: 1150px;
    min-height: 720px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.menuCabecalho {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 5px 5px;
}

.logoIdioma {
    width: 25px;
    height: 25px;
}

.containerPerfil {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around;
    padding: 100px 0;
}

.img-perfil {
    display: flex;
    justify-content: center;
    width: 50%;
}
.imgPerfil {
    width: 65%;
    border-radius: 100%;
}

.textosPerfil {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    font-family: 'Courier New', Courier, monospace;
}

.ponto {
    font-size: 60px;
}

.hiTexto {
    font-size: 28px;
    font-weight: bold;
}

.redes-sociais {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 80%;
}

.logoRedeSocial {
    height: 50px;
    width: 50px;
    transition: 0.3s;
}
.logoRedeSocial:hover {
    transform: scale(1.2);
}

.containerSobre {
    border: solid;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: 'Courier New', Courier, monospace;
}

.title {
    font-size: 28px;
    font-weight: bold;
    background-color: black;
    color: white;
    text-align: center;
    padding: 5px 0;
}

.rodape {
    display: flex;
    height: 20px;
    justify-content: center;
    align-items: center;
    font-size: 12px;
    background-color: black;
    color: white;
    font-family: 'Courier New', Courier, monospace;
}
